

<ion-content>
<h2> </h2>
<ion-card color="secondary">
 <ion-card-header>
    <ion-card-title>الميكروبلادينج</ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-progress-bar value="0.10" ></ion-progress-bar>
  </ion-item>
  </ion-card>
  
<ion-card color="secondary" [routerLink]="['/course', 1]">
<ion-grid>
  <ion-row>
    <ion-col size="2">
     <ion-chip  class="" color="primary" > 
    <ion-label >01</ion-label>
  </ion-chip>
    </ion-col>
    <ion-col >
      <h4>النظافة</h4>
    </ion-col>
    
  </ion-row>
  </ion-grid>
</ion-card>
<ion-card color="secondary" [routerLink]="['/course', 2]">
<ion-grid>
  <ion-row>
    <ion-col size="2">
     <ion-chip  class="" color="primary" > 
    <ion-label >02</ion-label>
  </ion-chip>
    </ion-col>
    <ion-col >
      <h4>الأحبار</h4>
    </ion-col>
    
  </ion-row>
  </ion-grid>
</ion-card>
<ion-card color="secondary" [routerLink]="['/course', 3]">
<ion-grid>
  <ion-row>
    <ion-col size="2">
     <ion-chip  class="" color="primary" > 
    <ion-label >03</ion-label>
  </ion-chip>
    </ion-col>
    <ion-col >
      <h4>نظرية اللون</h4>
    </ion-col>
    
  </ion-row>
  </ion-grid>
</ion-card>


</ion-content>
