<ion-toolbar>
  	<ion-buttons slot="start">
  <ion-back-button color="secondary" fill="solid" defaultHref="home"></ion-back-button>
  	</ion-buttons>
		<ion-buttons slot="end">
			<ion-button color="secondary" fill="solid" [routerLink]="['/new-task']">
				<ion-icon name="settings"></ion-icon>
			</ion-button>
		</ion-buttons>
		
	</ion-toolbar>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">



    <div class="card">
      <div class="header">
        <div class="avatar">
         <ion-avatar >
	<img [src]="userData.avatar">
        </ion-avatar>
              
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername"> {{userData.displayName}} </h3>
          <h5 class="country">  {{userData.email}}  </h5>
          
        </div>
<ion-button expand="block" *ngIf="!ismyprofile" color="primary" class="ion-butt-font" [routerLink]="['/chats/chat', userid]">Message </ion-button>
        <ion-button *ngIf="!ismyprofile" (click)="follow(userid)" fill="clear" color="primary"><ion-icon name="add"></ion-icon>{{ checkFollowing() }}</ion-button>
<ion-button fill="clear" (click)="presentcommtsModal(userid)" color="primary" class="ion-butt-font" >fowlors : {{totalFollowers}}</ion-button>
<ion-button fill="clear" (click)="presentcommtsModalf(userid)" color="primary" class="ion-butt-font" >fowlwing :{{totalFollowing}} </ion-button>
 

      </div>
    </div>
  <div class="ion-cont-bg">
	<ion-card *ngFor="let blog of postfeed" color="secondary" >
		<ion-item color="secondary">
			<ion-avatar item-left [routerLink]="['/publicprofile', blog.buserid]" >
				<img [src]="blog.useravtar">
        </ion-avatar>
				<ion-label> {{blog.user}} </ion-label>
				<ion-button fill="outline" slot="end" [routerLink]="['/details', blog.blogrefid]">View</ion-button>
		</ion-item>

		<img *ngIf="blog.bimgurl" [src]="blog.bimgurl" (tap)="tapPhotoLike($event)">


		<ion-item color="secondary">
			<ion-button fill="clear" clear ion-button icon-only (click)="likeButton()" class="like-btn">
				<ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space">
				</ion-icon>
			</ion-button>
			<ion-button fill="clear" ion-button icon-only>
				<ion-icon name="chatbubble-outline" color="primary"></ion-icon>
			</ion-button>
			<ion-button fill="clear" ion-button icon-only>
				<ion-icon no-padding isActive="false" color="primary" name="paper-plane" class="icon-space"></ion-icon>
			</ion-button>
			<ion-button fill="clear" no-margin no-padding clear color="primary" icon-only style="float: right">
				<ion-icon name="ios-bookmark-outline"></ion-icon>
			</ion-button>
		</ion-item>

		<ion-card-content>
			<p class="like-content">
				<ion-icon name="heart"></ion-icon> {{blog.likes}} likes
			</p>
			<p><b> {{blog.user}} </b> {{blog.body}} </p>

			<ion-note style="font-size: 12px">
				{{blog.crtd * 1000 | date:'MM-dd-yyyy'}}
			</ion-note>
		</ion-card-content>
	</ion-card>
  </div>
</ion-content>
