<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
       
	   <ion-avatar class="ion-hide">
	<img [src]="userData.avatar">
    </ion-avatar>
    </ion-buttons> 



    <ion-title> {{userData.displayName}} </ion-title>
    <ion-buttons slot="end">
      <ion-button>
       <ion-back-button defaultHref="home"></ion-back-button>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-item lines="none" *ngFor="let chat of chats">
  <ion-chip *ngIf="chat.sender === curentuserid; else elseBlock" class="ion-float-right rightk" color="primary"> 
    <ion-label > {{chat.msg}} </ion-label>
  </ion-chip>

 <ng-template #elseBlock>
    <ion-chip class="ion-float-left"> 
    <ion-avatar>
	<img [src]="userData.avatar">
    </ion-avatar>
    <ion-label > {{chat.msg}} </ion-label>
  </ion-chip>
       </ng-template> 

</ion-item>



</ion-content>
<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="secondary">        
    <ion-input [(ngModel)]="newmessage" placeholder="Write your message ..."></ion-input>  
    <ion-buttons slot="end">
      <ion-button fill="clear" ion-button (click)="addmessage()">
        <ion-icon name="send" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>
