<ion-content >
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row header align-items-start align-items-stretch>
      <ion-col col-10 offset-1 col-md-6 size="12" offset-md-3>
        <img logo src="" />
      </ion-col>

    <!-- Section form>-->
  <ion-col size="12" >
    <form padding  [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
      <ion-row align-items-start>
        <ion-col col-12>
          <h1><strong>welcome</strong>To our app</h1>
        </ion-col>
      </ion-row>
      <!-- Input-field -->
      <ion-row>
        <ion-col col-12>
          <div input-field>
            <!-- Input-field-text -->
            <ion-item no-padding>
              <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
     </ion-item>

<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

            <!-- Input-field-password -->
            <ion-item no-padding>
              <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
     </ion-item>

<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

          </div>
          <!-- Login button -->
          <ion-col col-12 no-padding>
            <ion-button no-margin ion-button full text-uppercase type="submit" [disabled]="!validations_form.valid" >Login</ion-button>
            <label class="error-message">{{errorMessage}}</label>
          </ion-col>
          <!-- Description -->
          <div description text-center>
            <ion-row>
              <!-- Reset your password button -->
              <ion-col col-12 no-padding no-margin>
                <p no-margin no-padding><a>reset password</a> </p>
              </ion-col>
              <!-- Signup now button -->
              <ion-col col-12padding>
                <p no-margin no-padding>Dont have acount yet then <a (click)="goRegisterPage()" >Signup</a> </p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </form>
    </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
