<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="end">
			<ion-button [routerLink]="['/new-task']">
				<ion-icon slot="icon-only" name="add"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>home</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content  class="list-mini-content" padding>
 
	<hr no-margin no-padding>
	<div (swipe)="swipePage($event)">


	</div>
	 <div id="feed-posts" *ngFor="let feedPost of feedPosts" style="overflow-y: hidden">
        <app-post [inputPostID]="feedPost.id"></app-post>
      </div>  

	<ion-card>
		<ion-item [routerLink]="['/course']" class="ion-activated">
			<ion-icon name="wifi" slot="start"></ion-icon>
			<ion-label>Go to course </ion-label>
		</ion-item>

		<ion-item [routerLink]="['/publicprofile']" >
			<ion-icon name="wine" slot="start"></ion-icon>
			<ion-label>Puplicprofile</ion-label>
		</ion-item>

		<ion-item [routerLink]="['/chats']"  class="ion-activated">
			<ion-icon name="warning" slot="start"></ion-icon>
			<ion-label>Chats</ion-label>
		</ion-item>

		<ion-item>
			<ion-icon name="walk" slot="start"></ion-icon>
			<ion-label>Card Button Item 2</ion-label>
		</ion-item>
	</ion-card>

<ion-button fill="outline" clear ion-button icon-only (click)="infinitload()" class="like-btn" >
		load more 		
	</ion-button>			


</ion-content>



