
<ion-toolbar>
  	<ion-buttons slot="start">
   <ion-button color="secondary" fill="solid" (click)="dismiss()">
			<ion-icon name="close-outline"></ion-icon>
			</ion-button>
  	</ion-buttons>
	</ion-toolbar>

<ion-content  padding>
  <ion-list>
 <ion-item *ngFor="let comm of comments ">
          <ion-avatar slot="start">
            <img [src]="comm.useravtar">
          </ion-avatar>
          <ion-label>
            <h2>{{comm.username}}</h2>
            
            <p>{{comm.body}}</p>
            <h4>{{comm.crtd * 1000 | date:'MM-dd-yyyy' }}</h4>
          </ion-label>
 </ion-item>
 </ion-list>



</ion-content>
<ion-footer ion-fixed>    
  <ion-toolbar class="no-border" color="secondary">        
    <ion-input [(ngModel)]="comment" placeholder="Write your comment ..."></ion-input>  
    <ion-buttons slot="end">
      <ion-button fill="clear" ion-button (click)="addcomm()">
        <ion-icon name="send" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>    
</ion-footer>